<!-- Page Content -->
<div class="col-lg-9 page-content-wrapper" id="page-content-wrapper" >
    <nav class="navbar navbar-expand-lg bg-white shadow-sm py-2">
        <div class="d-flex align-items-center">
            <img src="images/Rectangle-62.png" class="ms-2" alt="logo">
            <i class="fas fa-align-justify primary-text fs-4" id="menu-toggle" style="margin-left: 9rem;"></i>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 ms-auto mb-lg-0">

              <form class="d-flex me-lg-3 me-3">
                <input class="form-control mb-1 mt-1" type="search" placeholder="Search" aria-label="Search" > 
                <button class="btn mb-1 mt-1 fw-bold" type="submit" >Search</button>
              </form>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-black fw-normal" href="#" id="navbarDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: larger;">
                        <img src="images/Rectangle-62.png" alt="" width="32" height="32" class="rounded-circle me-2">
                        john doe
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/login">Logout</a></li>
                    </ul>
                </li>
            </ul>
           
        </div>
    </nav>